@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Estilize o carrossel */
.carousel {
  position: relative;
}

/* Estilize as setas */
.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: auto;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Certifique-se de que as setas estejam acima dos slides */
}

.prev-arrow {
  left: 1px; /* Ajuste a posição esquerda */
}

.next-arrow {
  right: 1px; /* Ajuste a posição direita */
}

/* Estilize o efeito de hover */
.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


